
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-family: Arial, sans-serif;
}

/* Counter number */
.counter-number {
  font-size: 50px;
  margin-bottom: 10px;
}

/* Warning message */
.warning {
  color: rgb(213, 68, 68);
  margin-bottom: 20px;
}

/* Button container */
.buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}



/* Increment button */
.increment-button {
  border: none;
  color: white;
  cursor: pointer;
  background-color: rgb(32, 168, 32);
  width: 40px;
  height: 40px;
  font-size: 25px;
}

/* Decrement button */
.decrement-button {
  border: none;
  color: white;
  cursor: pointer;
  background-color: rgb(243, 67, 67);
  width: 40px;
  height: 40px;
  font-size: 25px;
}

/* Reset button */
.reset-button {
  border: none;
  color: white;
  cursor: pointer;
  background-color: rgb(44, 44, 239);
  width: 70px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
}
